body {
    color: antiquewhite;
}

#container {
    border: solid 1px black;
    max-width: 500px;
    height: 500px;
    display: flex;
    /*serve para conseguirmos trabalhar com nossos elementos */
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(173, 8, 8);
    justify-content: space-around;
}

.box {
    border: 1px solid rgb(41, 161, 4);
    margin: 2px;
    height: 100px;
    width: 100px;
    background-color: rgb(41, 161, 4);
    font-size: 25px;
    margin-top: 30px;
}

.cx1 {
    order: 3;
}

.cx2 {
    order: 1;
}

.cx3 {
    order: 2 ;
}